/BobBlob/[Ll]ibrary/
/BobBlob/Logs/
/BobBlob/[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*
/BobBlob/Temp/
/BobBlob/[Oo]bj/
/BobBlob/[Bb]uild/
/BobBlob/[Bb]uilds/
/BobBlob/[Uu]ser[Ss]ettings/
/BobBlob/.vs/
.DS_Store
desktop.ini